<table>
    <tr>
        <th>Nombres:</th>
        <td>@Model.Names</td>
    </tr>
    <tr>
        <th>Apellidos:</th>
        <td>@Model.LastNames</td>
    </tr>
     <tr>
        <th>Apellidos:</th>
        <td>@Model.Email</td>
    </tr>
    <a asp-controller="Users" asp-action="Index">Volver al listado de usuarios</a>
</table>